@model DATN.CTDT
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card text-center">
	<div class="page-header" style="margin:7px">
		<h3 class="page-title">
			Chương trình đào tạo
		</h3>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<a class="btn btn-block btn-lg btn-gradient-primary text-white" onclick="showDialog()">+ Add CTDT</a>
			</ol>
		</nav>
	</div>
</div>

@*Show lỗi*@
@{
	if (TempData["CTDT_ERR"] != null)
	{
		<div class="card text-center" style="background:none; margin-top: 20px" id="err_alert">
			<div class="alert alert-danger alert-dismissible fade show" style="margin-bottom:0; padding:20px">
				<strong>Lỗi: </strong> @Html.Raw(TempData["CTDT_ERR"])
				<button type="button" class="close" id="close_alert">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	}

}

@*Modal*@
<div class="card modal" id="ex1">
	<div class="card-body">
		@using (Html.BeginForm("Create", "CTDT", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			@Html.AntiForgeryToken()

			<div class="row">
				<div class="col-md-12">
					<div class="form-group row">
						<label class="col-sm-4 col-form-label"> Mã CTDT </label>
						<div class="col-sm-8">
							@Html.EditorFor(model => model.Ma_CTDT, new { htmlAttributes = new { @class = "form-control" } })
							@*@Html.ValidationMessageFor(model => model._title, "", new { @class = "text-danger" })*@
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group row">
						<label class="col-sm-4 col-form-label"> Tên CTDT </label>
						<div class="col-sm-8">
							@Html.EditorFor(model => model.Ten_CTDT, new { htmlAttributes = new { @class = "form-control" } })
							@*@Html.ValidationMessageFor(model => model._title, "", new { @class = "text-danger" })*@
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group row">
						<label class="col-sm-4 col-form-label"> File CTDT </label>
						<div class="col-sm-8">
							<input type="file" class="file-upload-default file-click" name="CTDT_excelfile" />
							@*@Html.TextBoxFor(model => model.image, new { @class = "file-upload-default file-click", type = "file", Name = "image_upload" })*@
							<div class="input-group col-xs-12">
								<input type="text" class="form-control file-upload-info name-input" disabled="" placeholder="Upload Image">
								<span class="input-group-append">
									<button class="file-upload-browse btn btn-gradient-primary btn-click" type="button">Upload</button>
								</span>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<div class="col-md-offset-2 col-md-12 text-right">
						<input type="submit" value="Create" class="btn btn-gradient-primary btn-rounded btn-fw" />
					</div>
				</div>
			</div>

		}
	</div>
</div>
@*show dữ liệu*@
@{
	if (Enumerable.Count(ViewBag.CTDT) > 0)
	{
		<div class="card" style="margin-top: 30px">
			<div class="card-body">
				<table class="table table-hover nowrap" id="example" style="width:100%">
					<thead>
						<tr>
							<th>Học kì</th>
							<th>Mã môn học</th>
							<th>Tên môn học</th>
							<th>Số tính chỉ</th>
							<th>Lý thuyết</th>
							<th>Thực hành</th>
							<th>Ghi chú</th>
							<th class="ctdt">CTDT</th>
						</tr>
					</thead>
					<tbody>

						@foreach (var item in ViewBag.CTDT)

						{
							<tr>
								<td>@item.Ma_HK</td>
								<td>@item.Ma_Mon</td>
								<td>@item.Ten_Mon</td>
								<td>@item.So_TC</td>
								<td>@item.TC_LyThuyet</td>
								<td>@item.TC_ThucHanh</td>
								<td>@item.Ghi_Chu</td>
								<td>@item.Ma_CTDT</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	}
	else
	{
		<div class="card" style="margin-top: 30px">
			<div class="card-body">
				<table class="table table-hover nowrap" id="example" style="width:100%">
					<thead>
						<tr>
							<th>Học kì</th>
							<th>Mã môn học</th>
							<th>Tên môn học</th>
							<th>Số tính chỉ</th>
							<th>Lý thuyết</th>
							<th>Thực hành</th>
							<th>Ghi chú</th>
							<th>CTDT</th>
						</tr>
					</thead>
					<tbody>
						<tr><td colspan="8">Không tìm thấy chương trình đào tạo</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	}
}

@*javascript*@

@section ClientScript{
	<script>
		$(document).ready(function () {
			var table = $('#example').DataTable({
				responsive: true,
				"lengthMenu": [[20, 40, 50, -1], [20, 40, 50, "All"]],
				"pagingType": "first_last_numbers",
				"showNEntries": false,
				"bInfo": false,
				"autoWidth": true
			});
			$("#search_input").on("keyup", function () {
				table.columns('.ctdt').search(this.value).draw();

			});
		});
		$(".btn-click").click(function () {
			$(".file-click").click();

			$('.file-click[type="file"]').change(function (e) {
				var fileName = e.target.files[0].name;
				$(".name-input").val(fileName);
				console.log(fileName);
			});
		});

		$('#close_alert').click(function () {
			$('#err_alert').fadeTo(100, 500).slideUp(500, function () {
				$("#err_alert").alert('close');
			});
		});
		//$('#err_alert').fadeTo(4000, 500).slideUp(500, function () {
		//	$("#err_alert").slideUp(500);
		//});

		function showDialog() {
			$('#ex1').modal({
				showClose: false,
				fadeDuration: 200,
			});
		}

	</script>
}

<style>
	.blocker {
		z-index: 99;
	}
</style>
